.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--soft-border);
  color: var(--font-color-med);
}

.filterToggle {
  color: var(--font-color-med);
  padding: 10px;
  background-color: var(--foreground-1);
  border: "none";
  font-size: var(--normal-font-size);
  border-radius: 15px;
  border: none;
}
