.eventCard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-radius: 25px;
  box-shadow: 0px 7.5px 10px rgba(0, 0, 0, 0.025),
    0px 60px 80px rgba(0, 0, 0, 0.05);
}

.eventImg {
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  border: var(--soft-border);
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.eventDetails {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--background);
  color: var(--font-color-high);
  border-radius: 0px 0px 25px 25px;
  border-bottom: var(--soft-border);
  border-left: var(--soft-border);
  border-right: var(--soft-border);
}

.titleContainer {
  flex: 1;
  padding: 20px 20px 0px 20px;
  border-radius: 0px 0px 25px 25px;
  min-width: 0;
}

.title {
  font-size: var(--large-font-size);
  margin: 0px 0px 5px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subTitle {
  font-weight: normal;
  font-size: var(--normal-font-size);
  margin: 0;
  color: var(--font-color-med);
}

.detailContainer {
  flex: 0;
  padding: 20px 20px 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.detail {
  font-weight: bold;
  font-size: var(--normal-font-size);
  margin-bottom: 5px;
}

.subDetail {
  color: var(--font-color-med);
  font-size: var(--small-font-size);
}

.groupButton {
  margin-left: 10px;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
}

.link {
  text-decoration: underline;
}
