.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.item {
  padding: 25px 0px;
  border-bottom: var(--soft-border);
}

.label {
  font-size: var(--big-font-size);
  font-weight: 600;
  margin-bottom: 20px;
}

.errorContainer {
  padding: 10px;
  background-color: var(--err-background);
  color: var(--font-color-err);
  border-radius: var(--border-radius-regular);
}

.dateContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.dateLabel {
  color: var(--font-color-med);
  display: inline-block;
  width: 55px;
}

.dateButton {
  margin-top: 4px;
  height: 38px;
  border-radius: var(--border-radius-regular);
  padding-left: 8px;
  font-size: var(--normal-font-size);
  padding-right: 4px;
  color: var(--font-color-med);
  border: none;
  background-color: var(--foreground-1);
}

.checkButton {
  margin-top: 4px;
  height: 38px;
  border-radius: var(--border-radius-regular);
  padding-left: 8px;
  font-size: var(--normal-font-size);
  padding-right: 12px;
  color: var(--font-color-med);
  background-color: var(--foreground-1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.checkContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
