.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.item {
  padding: 25px 0px;
  border-bottom: 2px solid #f2f2f2;
}

.label {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
