.headingContainer {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.nameContainer {
  padding-top: 20px;
  margin-right: 20px;
  min-width: 0;
  max-width: 700px;
}

.ens {
  margin: 0px 0px 10px 0px;
  font-size: var(--heading-font-size);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  min-width: 0;
  max-width: 700px;
}

.collectionImg {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.collectionTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}

.collectionName {
  margin: 0px 0px 5px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--large-font-size);
}

.collectionSubText {
  color: var(--font-color-med);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.errorContainer {
  padding: 10px;
  background-color: var(--err-background);
  color: var(--font-color-err);
  border-radius: var(--border-radius-regular);
}

@media (max-width: 700px) {
  .collectionImg {
    height: 45px;
    width: 45px;
    margin-right: 10px;
  }

  .collectionName {
    font-size: var(--normal-font-size);
  }
}
