.headingContainer {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.nameContainer {
  padding-top: 20px;
  margin-right: 20px;
  min-width: 0;
  max-width: 700px;
}

.ens {
  margin: 0;
  font-size: 3em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.address {
  max-width: 420px;
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  color: dimgray;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.collection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  min-width: 0;
  max-width: 700px;
}

.collectionImg {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.collectionTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
}

.collectionName {
  margin: 0px 0px 5px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
}

.collectionSubText {
  color: gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.errorContainer {
  padding: 10px;
  background-color: lightpink;
  color: darkred;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .ens {
    font-size: 2em;
  }

  .collectionImg {
    height: 45px;
    width: 45px;
    margin-right: 10px;
  }

  .collectionName {
    font-size: 18px;
  }
}
