.layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
  min-height: 100vh;
  max-width: 800px;
}

.noAddress {
  margin: 20px 0px;
  padding: 10px;
}

.errorContainer {
  margin: 20px 0px;
  padding: 10px;
  background-color: lightpink;
  color: darkred;
  border-radius: 10px;
}
