.layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
  min-height: 100vh;
  max-width: 800px;
  min-width: 0px;
}

.desc {
  margin-bottom: 50px;
}

.titleContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  font-size: 80px;
  margin-left: 10px;
}

.title {
  color: var(--font-color-high);
  font-size: var(--heading-font-size);
  margin: 0px;
}

.subTitle {
  color: var(--font-color-med);
  font-size: var(--large-font-size);
}

.creditContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.creditLabel {
  text-align: center;
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkIcon {
  width: 40px;
  height: 40px;
}
