.searchBarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* min width to account for default size */
.searchBarInput {
  flex: 1;
  min-width: 30px;
  height: 52px;
  padding: 0px 15px;
  border: none;
  background-color: var(--foreground-1);
  border-radius: 15px 0px 0px 15px;
  font-size: var(--big-font-size);
}

.searchBarButton {
  height: 52px;
  padding: 20px;
  background-color: var(--font-color-high);
  color: white;
  border: none;
  border-radius: 0px 15px 15px 0px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorMessage {
  margin: 0px 20px 0px 20px;
  padding: 10px 20px 10px 20px;
  background-color: lightpink;
}
