.eventGrid {
  width: 100%;
  display: grid;
  grid-gap: 2em;
}

@media (min-width: 0px) {
  .eventGrid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 800px) {
  .eventGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1200px) {
  .eventGrid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1600px) {
  .eventGrid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 2000px) {
  .eventGrid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
